@font-face {
  font-family: "quicksand-bold";
  src: url(../../fonts/Quicksand/Quicksand-Bold.ttf);
  font-weight: bold; }

@font-face {
  font-family: "montserrat-medium";
  src: url(../../fonts/Montserrat/Montserrat-Medium.ttf);
  font-weight: normal; }

@font-face {
  font-family: "montserrat-semibold";
  src: url(../../fonts/Montserrat/Montserrat-SemiBold.ttf);
  font-weight: bold; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box; }

html {
  background-color: #FFFFFF;
  overflow-x: hidden; }

html,
body {
  font-family: "Open Sans", sans-serif;
  color: #70737C; }

.heading-secondary {
  color: #30333C;
  font-size: 50px;
  font-family: quicksand-bold; }

.btn {
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-family: quicksand-bold;
  font-size: 22px;
  padding: 15px 40px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all .2s; }
  .btn-gallery {
    background-color: #30333C; }
    .btn-gallery:hover {
      background-color: #A7C0E8; }
  @media only screen and (max-width: 1300px) {
    .btn-table {
      font-size: 16px;
      padding: 15px 30px; }
      .btn-table img {
        height: 10px !important;
        margin-left: 10px !important; }
    .btn img {
      height: 15px !important;
      margin-left: 10px !important; } }
  @media only screen and (max-width: 1100px) {
    .btn-table {
      padding: 10px 15px; }
      .btn-table img {
        display: none; } }
  @media only screen and (max-width: 500px) {
    .btn-table {
      font-size: 16px;
      margin-bottom: 20px; } }
  .btn-table {
    background-color: #A7C0E8; }
    .btn-table:hover {
      background-color: #6F88B1; }
    .btn-table img {
      height: 15px;
      margin-left: 20px; }
  .btn-send {
    background-color: #D9DBE2;
    margin-top: 60px; }
    .btn-send:hover {
      background-color: #30333C; }
  .btn img {
    height: 20px;
    margin-left: 30px; }
  @media only screen and (min-width: 1800px) {
    .btn .btn {
      font-size: 16px;
      padding: 10px 35px; } }

.btn-center {
  display: flex;
  justify-content: center;
  margin-top: 50px; }

.contacts {
  display: flex;
  margin: 70px 0;
  box-shadow: 0px 10px 50px -30px #44477C; }
  .contacts-people {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 110px;
    background-color: #E8F1FF;
    clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%); }
    .contacts-people--info {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .contacts-people--info:not(:last-child) {
        margin-bottom: 35px; }
      .contacts-people--info img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 30px; }
    .contacts-people--details {
      line-height: 1.5; }
      .contacts-people--details-name {
        font-family: quicksand-bold;
        font-size: 26px;
        color: #6F88B1; }
      .contacts-people--details-contacts {
        display: block;
        width: 50%;
        font-size: 18px;
        font-family: montserrat-medium;
        color: #70737C; }
  .contacts__message {
    width: 50%;
    padding: 49px 0;
    background-color: #FFFFFF; }
    .contacts__message h2 {
      color: #6F88B1;
      margin-bottom: 60px; }
  .contacts__form {
    padding: 0 30px;
    width: 90%; }
  @media only screen and (max-width: 1100px) {
    .contacts {
      flex-direction: column; }
      .contacts-people {
        width: 100%;
        padding: 100px 20px;
        flex-direction: row;
        justify-content: center;
        background-color: #E8F1FF;
        clip-path: none; }
        .contacts-people--info {
          flex-direction: column;
          align-self: center;
          margin-bottom: 0 !important; }
          .contacts-people--info img {
            margin-right: 0;
            margin-bottom: 30px; }
        .contacts-people--details {
          display: flex;
          flex-direction: column;
          align-items: center; }
          .contacts-people--details-name {
            font-size: 22px; }
          .contacts-people--details-contacts {
            width: 60%;
            text-align: center;
            font-size: 16px; }
      .contacts__message {
        width: 100%; }
      .contacts__form {
        padding: 0 80px;
        width: 90%; } }
  @media only screen and (max-width: 800px) {
    .contacts-people {
      flex-direction: column; }
      .contacts-people--info {
        margin-top: 30px; }
        .contacts-people--info:not(:last-child) {
          margin-bottom: 35px !important; }
    .contacts .heading-secondary {
      font-size: 40px; }
    .contacts__form {
      width: 70%;
      margin: 0 auto; } }

.form__group {
  margin-bottom: 20px; }

.form__input {
  font-family: montserrat-medium;
  font-size: 20px;
  color: #70737C;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #6F88B1;
  width: 90%;
  display: block; }
  .form__input:focus {
    outline: none; }
  .form__input:focus:invalid {
    border-bottom: 1px solid #E36464;
    box-shadow: none;
    outline: none; }
  .form__input:focus:valid {
    border-bottom: 1px solid #6F88B1; }

.form__label {
  font-size: 16px !important;
  font-family: montserrat-medium;
  margin: 8px 0 0 10px;
  display: block;
  transition: all .2s; }
  .form__label-warning {
    color: #E36464;
    display: none; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden; }

.form__group:last-child {
  display: flex;
  align-items: flex-start; }

.form__accept {
  margin-right: 20px;
  margin-top: 10px;
  position: relative;
  display: none;
  cursor: pointer; }
  .form__accept-btn {
    display: block;
    height: 25px;
    width: 25px;
    border: 1px solid #6F88B1;
    border-radius: 1px;
    position: absolute;
    margin-top: 5px; }
    .form__accept-btn::after {
      content: "";
      display: block;
      height: 25px;
      width: 25px;
      position: absolute;
      background-color: #6F88B1;
      opacity: 0;
      transition: opacity .3s; }
  .form__accept:checked ~ .form__accept-text .form__accept-btn::after {
    opacity: 1; }
  .form__accept-text {
    font-size: 18px;
    font-family: montserrat-medium;
    margin-top: 20px;
    margin-right: 40px;
    line-height: 1.5;
    position: relative; }

.form #label-accept {
  font-size: 16px;
  margin-top: 8px; }

@media only screen and (max-width: 1100px) {
  .form__group {
    margin-bottom: 10px; }
  .form__input {
    font-size: 18px; } }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.news .heading-secondary {
  padding: 50px 0 50px 100px; }

.news__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  grid-template-rows: repeat(auto-fit, minmax(250px, 350px));
  grid-gap: 20px;
  justify-content: center; }
  .news__gallery-wrap {
    padding: 60px 30px;
    box-shadow: 0px 10px 50px -30px #44477C; }
  .news__gallery-pic {
    position: relative; }
  .news__gallery-pic img {
    width: 100%;
    height: 350px;
    object-fit: cover; }
  .news__gallery-text {
    font-family: quicksand-bold;
    font-size: 28px;
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    background-image: linear-gradient(180deg, rgba(58, 54, 82, 0.1), rgba(21, 21, 26, 0.9));
    box-shadow: 0 -5px 15px 0 rgba(58, 54, 82, 0.1); }
  .news__gallery-pic p {
    margin-left: 20px; }

@media only screen and (max-width: 800px) {
  .news .heading-secondary {
    font-size: 40px; } }

@media only screen and (max-width: 500px) {
  .news .heading-secondary {
    font-size: 30px !important;
    width: 350px;
    padding: 30px 0 40px 80px; } }

.projects {
  background-image: linear-gradient(219deg, #e8f1ff, #fafcff);
  margin-bottom: 250px;
  padding-top: 71px;
  height: 750px; }
  .projects .heading-secondary {
    width: 500px;
    padding: 50px 0 50px 100px;
    position: relative;
    z-index: 3; }
  .projects__right-side {
    background-color: #FFFFFF;
    width: 900px;
    height: 700px;
    position: relative;
    float: right;
    top: -100px;
    border-top-left-radius: 300px;
    z-index: 1; }
  .projects__gallery {
    display: grid;
    grid-template-columns: repeat(3, 348px);
    grid-column-gap: 80px;
    margin-left: 217px;
    position: absolute;
    z-index: 2; }
    .projects__gallery-card {
      height: 608px;
      overflow: hidden;
      border-radius: 0 100px 30px 30px;
      background-color: #FFFFFF;
      box-shadow: 0px 10px 50px -30px #44477C; }
    .projects__gallery img {
      width: 100%;
      max-height: 348px;
      object-fit: cover; }
    .projects__gallery-text {
      padding: 10px 20px 0 40px; }
  .projects .card__heading {
    font-family: montserrat-semibold;
    font-size: 26px;
    color: #30333C;
    margin: 15px 0; }
  .projects .card__text {
    font-family: montserrat-medium;
    font-size: 18px;
    color: #70737C;
    line-height: 1.5;
    word-spacing: 5px;
    overflow: hidden;
    text-overflow: ellipsis; }
  .projects .card__arrow {
    height: 20px;
    margin-top: 10px;
    float: right;
    width: auto;
    cursor: pointer; }
  .projects .arrow {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #A7C0E8;
    cursor: pointer;
    position: absolute;
    top: 85%;
    z-index: 4; }
  .projects .arrow img {
    width: 30px; }
  .projects .arrow-left img {
    transform: rotate(180deg); }
  .projects .arrow-left {
    left: 35px; }
  .projects .arrow-right {
    right: 35px; }
  @media only screen and (max-width: 1100px) {
    .projects__right-side {
      display: none; } }
  @media only screen and (max-width: 800px) {
    .projects {
      margin-bottom: 100px; }
      .projects .heading-secondary {
        width: 400px;
        font-size: 40px; }
      .projects__gallery {
        grid-template-columns: repeat(3, 300px);
        grid-column-gap: 50px; }
        .projects__gallery-card {
          height: 500px; }
          .projects__gallery-card img {
            max-height: 250px; } }
  @media only screen and (max-width: 500px) {
    .projects__gallery {
      margin-left: 80px; }
    .projects .heading-secondary {
      font-size: 30px !important;
      width: 350px;
      padding: 30px 0 40px 80px; } }

.offers {
  margin: 0 49px;
  border-radius: 20px;
  box-shadow: 0px 10px 50px -30px #44477C; }
  .offers__buttons {
    display: flex;
    justify-content: space-around;
    padding: 60px 37px;
    transition: all .2s; }
  .offers .dropdown-box {
    position: relative;
    display: inline-block; }
    .offers .dropdown-box:hover .dropdown-content {
      display: block;
      min-height: auto; }
    .offers .dropdown-box:hover .btn-table {
      border-radius: 30px 30px 0 0; }
    .offers .dropdown-box-option {
      font-size: 18px;
      font-family: montserrat-medium;
      padding: 20px;
      cursor: pointer; }
      .offers .dropdown-box-option:hover {
        background-color: #F7FAFF; }
  .offers .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 50px -30px #44477C;
    border-radius: 0 0 29px 29px;
    z-index: 1;
    transition: height .2s;
    min-height: 0; }
  .offers__table {
    width: 100%;
    border-collapse: collapse; }
    .offers__table th {
      color: #30333C;
      font-family: montserrat-semibold;
      margin: 0 37px;
      padding-bottom: 60px !important; }
    .offers__table tr {
      font-size: 20px;
      font-family: montserrat-medium;
      text-align: left; }
      .offers__table tr:hover {
        background-color: #F7FAFF; }
    .offers__table td {
      border: none;
      border-top: 1px solid #E9ECF7; }
    .offers__table th, .offers__table td {
      padding: 20px; }
  @media only screen and (max-width: 1100px) {
    .offers__buttons {
      padding: 50px 30px; }
    .offers .dropdown-box-option {
      font-size: 16px;
      padding: 8px; }
    .offers__table th, .offers__table td {
      padding: 8px; }
    .offers__table th {
      padding-bottom: 30px !important; }
    .offers__table tr {
      font-size: 14px; } }
  @media only screen and (max-width: 800px) {
    .offers .dropdown-box-option {
      font-size: 14px; }
    .offers__table {
      display: none; } }
  @media only screen and (max-width: 500px) {
    .offers__buttons {
      display: flex;
      flex-direction: column; } }
  .offers .colored {
    background-image: linear-gradient(270deg, rgba(247, 250, 255, 0.33), rgba(219, 233, 255, 0.33)); }

.footer {
  display: flex;
  background-color: #30333C;
  color: #FFFFFF;
  padding: 32px 87px 41px 109px; }
  .footer__info {
    width: 50%;
    display: flex;
    justify-content: space-evenly; }
    .footer__info-block h4 {
      font-family: quicksand-bold;
      font-size: 28px;
      margin-bottom: 10px; }
    .footer__info-block p {
      font-family: montserrat-medium;
      font-size: 18px;
      line-height: 1.7; }
    .footer__info-block:not(:last-child) {
      margin-right: 149px; }
  .footer__icons {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end; }
    .footer__icons-icon:not(:last-child) {
      margin-right: 43px; }
  @media only screen and (max-width: 800px) {
    .footer {
      padding: 32px 57px 21px 59px; }
      .footer__info {
        width: 70%; }
        .footer__info-block h4 {
          font-size: 22px; }
        .footer__info-block p {
          font-size: 14px; }
        .footer__info-block:not(:last-child) {
          margin-right: 80px; }
      .footer__icons {
        width: 30%; }
        .footer__icons-icon:not(:last-child) {
          margin-right: 23px; } }

.header {
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 5;
  box-shadow: 0px 10px 20px -30px #44477C; }

.nav {
  background-color: #FFFFFF; }
  .nav__name {
    font-size: 22px;
    color: #23231E;
    padding: 21.5px 0 21.5px 137px;
    text-transform: uppercase;
    font-family: quicksand-bold; }
  .nav__list {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    padding: 27.5px 99px 21.5px 0;
    font-family: montserrat-medium; }
    .nav__list li {
      list-style-type: none;
      margin-right: 40px; }
    .nav__list a {
      font-size: 18px;
      color: #30333C;
      text-decoration: none;
      transition: all .2s; }
      .nav__list a:hover {
        color: #70737C; }
  @media only screen and (max-width: 800px) {
    .nav__list {
      display: none; }
    .nav .nav-btn {
      display: block; } }
  @media only screen and (max-width: 1100px) {
    .nav a {
      font-size: 16px; }
    .nav li {
      margin-right: 30px; }
    .nav__name {
      font-size: 20px;
      padding: 16.5px 0 16.5px 80px; }
    .nav__list {
      padding: 18.5px 30px 13.5px 0; } }

.nav-btn {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 50px;
  display: none; }

.btn-line {
  width: 35px;
  height: 4px;
  margin: 0 0 5px 0;
  border-radius: 3px;
  background: #70737C; }
