//Colors
$color-gray: #30333C;
$color-gray-light: #70737C;
$color-gray-dark: #23231E;

$color-blue: #A7C0E8;
$color-blue-light: #E8F1FF;
$color-blue-dark: #6F88B1;
$color-blue-dark-gradient: #3A3652;
$color-blue-gray: #D9DBE2;


$color-white-table: #F7FAFF;
$color-blue-table: #DBE9FF;
$color-border-table: #E9ECF7;


$color-black: #15151A;
$color-white: #FFFFFF;
$color-white-blue: #FAFCFF;
$color-shadow: #44477C;


//Fonts
$default-font-size: 18px;
$heading-font-size: 50px;


//Shadow
$item-shadow: 0px 10px 50px -30px $color-shadow;

//Warning
$color-red: #E36464;