html,
body {
    font-family: "Open Sans", sans-serif;
    color: $color-gray-light;
}

.heading-secondary {
    color: $color-gray;
    font-size: $heading-font-size;
    font-family: quicksand-bold;
}